@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;

    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;

    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;

    --primary: 246.77deg 86.93% 70%;
    --primary-foreground: 252 98% 23%;

    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;

    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;

    --accent: 210 40% 96.1%;
    --accent-foreground: 222.2 47.4% 11.2%;

    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;

    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 252 95% 85%;

    --radius: 0.75rem;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
    font-feature-settings: "rlig" 1, "calt" 1;
  }
}

@layer components {
  .scroll-content {
    overflow: auto;
  }

  /* WebKit 滚动条基础样式 */
  .scroll-content::-webkit-scrollbar {
    width: 8px;
    height: 8px;
  }

  /* 滚动条滑块在 hover 时的样式 */
  .scroll-content:hover::-webkit-scrollbar-thumb {
    border-radius: 10px;
    border-style: dashed;
    border-color: transparent;
    border-width: 2px;
    background-color: #b9bfca;
    background-clip: padding-box;
  }

  /* 滑块本身 hover 的细微样式 */
  .scroll-content:hover::-webkit-scrollbar-thumb:hover {
    background: #b9bfca;
  }

  /* 隐藏滚动条 */
  .scroll-bar-hidden::-webkit-scrollbar {
    display: none;
  }
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.focus-container {
  z-index: 9999; /* 确保在最上层 */
}

.focus-container * {
  line-height: inherit !important;
  box-sizing: border-box !important;
}

.pulse-core {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  border: 4px solid var(--pulse-color);
  /* background: var(--pulse-color); */
  position: absolute;
  animation: pulse var(--animation-duration) infinite ease-out;
}

.pulse-ring {
  width: 100%;
  height: 100%;
  border: 2px solid var(--pulse-color);
  border-radius: 50%;
  position: absolute;
  animation: ring var(--animation-duration) infinite ease-out;
}

@keyframes pulse {
  0% {
    transform: scale(0.4);
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(0.4);
  }
}

@keyframes ring {
  0% {
    transform: scale(1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1.8);
    opacity: 0;
  }
}
